#
# This file is managed by iRedMail Team <support@iredmail.org> with Ansible,
# please do __NOT__ modify it manually.
#

[mysql]
# Use the full utf8 4-byte character set.
default-character-set = utf8mb4

[mysqld]
port = 3306
bind-address = 0.0.0.0
user = mysql
datadir = /var/lib/mysql
pid-file = /var/lib/mysql/mysql.pid

# Log slow query
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow-query.log
long_query_time = 10
log_slow_admin_statements
log_queries_not_using_indexes

# MariaDB 10.2.14+ sets this to 2 by default, but we better set it to 1.
# If there's some sql client program doesn't properly handle sql connections,
# it may cause error like this in mariadb log file:
#
# `Aborted connection X to db: ... (Got timeout reading communication packets)`.
#
# If there're too many errors and eventually reaches `max_connect_errors`,
# this sql client host will be blocked from making further connections, which
# means Postfix/Dovecot/... will not be able to connect to SQL server and
# mail services are down.
#
# FYI:
# https://mariadb.com/kb/en/server-system-variables/#log_warnings
# https://mariadb.com/kb/en/server-system-variables/#max_error_count
log_warnings = 1

#
# General MySQL settings
#
# Error log
log-error = /var/lib/mysql/mysqld.err

# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links = 0

# For dedicate SQL server, it's ok to use 40%-60% memory (0.4).
# If not a dedicate SQL server, better use 10% (0.1).
innodb_buffer_pool_size = 409M
innodb_flush_log_at_trx_commit = 0
innodb_file_per_table

# - Changing the Number or Size of InnoDB Redo Log Files
#   https://dev.mysql.com/doc/refman/5.7/en/innodb-data-log-reconfiguration.html
# - How to calculate a good InnoDB log file size
#   https://www.percona.com/blog/2008/11/21/how-to-calculate-a-good-innodb-log-file-size/
#innodb_log_file_size = 256M
innodb_log_buffer_size = 24M

# Max connections
max_connections = 4096

# (SOGo) ActiveSync cache size can be large for mailboxes with thousands of
# messages, a 64M or even 128M value is recommended.
max_allowed_packet = 64M

# Enforces restrictions on stored function and trigger creation.
#
# if set to 0, client will get error like below while creating SQL trigger:
#   "You do not have the SUPER privilege and binary logging is enabled (you
#   might want to use the less safe log_bin_trust_function_creators variable)"
log_bin_trust_function_creators = 1

# Do not resolve host names when checking client connections. Use only IP
# addresses. With this option, all `Host` column values in the grant tables
# must be IP addresses.
#skip-name-resolve

# The number of seconds that the mysqld server waits for a connect packet
# before responding with Bad handshake. The default value is 10 seconds.
# Increasing the connect_timeout value might help if clients frequently
# encounter errors of the form
# "Lost connection to MySQL server at 'XXX', system error: errno X"
connect_timeout = 20

# Use the full utf8 4-byte character set.
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci


# MariaDB may fail to start if innodb_use_native_aio=1.
innodb_use_native_aio = 0

# Import all .cnf files from configuration directory
!includedir /opt/iredmail/custom/mysql

#
# This file is managed by iRedMail Team <support@iredmail.org> with Ansible,
# please do __NOT__ modify it manually.
#
