#
# This file is managed by iRedMail Team <support@iredmail.org> with Ansible,
# please do __NOT__ modify it manually.
#

ssl_protocols TLSv1.2 TLSv1.3;

# Fix 'The Logjam Attack'.
ssl_ciphers EECDH+CHACHA20:EECDH+AESGCM:EDH+AESGCM:AES256+EECDH;
ssl_prefer_server_ciphers on;
ssl_dhparam /opt/iredmail/ssl/dhparam2048.pem;

# Greatly improve the performance of keep-alive connections over SSL.
# With this enabled, client is not necessary to do a full SSL-handshake for
# every request, thus saving time and cpu-resources.
ssl_session_cache shared:SSL:10m;

# Use a bought SSL cert:
#   - https://docs.iredmail.org/use.a.bought.ssl.certificate.html
# Request a free cert from Let's Encrypt:
#   - https://docs.iredmail.org/letsencrypt.html
ssl_certificate /opt/iredmail/ssl/combined.pem;
ssl_certificate_key /opt/iredmail/ssl/key.pem;
