#
# This file is managed by iRedMail Team <support@iredmail.org> with Ansible,
# please do __NOT__ modify it manually.
#

location = /stub_status {
    stub_status   on;
    access_log    off;

    allow 127.0.0.1;
    deny all;
}
