HOSTNAME={{ HOSTNAME }}
FIRST_MAIL_DOMAIN={{ FIRST_MAIL_DOMAIN }}
FIRST_MAIL_DOMAIN_ADMIN_PASSWORD={{ FIRST_MAIL_DOMAIN_ADMIN_PASSWORD }}
MLMMJADMIN_API_TOKEN={{ MLMMJADMIN_API_TOKEN }}
ROUNDCUBE_DES_KEY={{ ROUNDCUBE_DES_KEY }}
